 <div class= "row">
  <div class = "col-sm-12 col-lg-6">
   <div class= "card mt-4 mb-4">
    <h3 class= "card-header bg-info text-light">投稿詳細</h3>
    <div class= "card-body">
     <div class= "card">
     <%= image_tag post.get_image(400, 400), class: "card-image-top" %>
      <div class= "card-body">
       <div class= "row">
        <div class= "col-3 mr-2">
         
         <% if current_user.present? %>
          <% if post.user_id == current_user.id %>
           <%= link_to mypage_path do %>
            <%= image_tag post.user.get_profile_image(100,100) %>
            <%= current_user.name %>
           <% end %>
          <% else %>
           <%= link_to user_path(post.user_id) do %>
            <%= image_tag post.user.get_profile_image(100,100) %>
            <%= post.user.name %>
           <% end %>
          <% end %>
         <% elsif current_admin.present? %>
          <%= link_to admin_user_path(post.user_id) do %>
           <%= image_tag post.user.get_profile_image(100,100) %>
           <%= post.user.name %>
          <% end %>
         <% end %>
        </div>
        
        <div class= "col-8 mx-auto">
         
        <p class= "created_at">投稿日時:
         <%= l post.created_at %>
        </p>
        <p class= "card-title">タイトル:
         <%= post.title %>
        </p>
       
        <p class= "card-item_title">商品名:
         <%= post.item.name %>
        </p>
      
        <p class= "card-item-genre">商品ジャンル:
         <%= post.item.genre.name %>
        </p>
        
        <p class= "card-item-price">商品価格:
         <%= post.item.price %>円
        </p>
       
        <p class= "card-item-donation_destination_name">寄付先：
         <%= post.item.donation_destination.name %>
        </p>
      
        <p class= "card-item-donation_destination_location">寄付先都道府県：
         <%= post.item.donation_destination.location_i18n %>
        </p>
      
        <p class = "card-item-body">本文：
         <%= post.body %>
        </p>
       
        <p>コメント件数：<%= post.post_comments.count %>件</p>
        
        <% if current_user.present? && !current_user.guest_user? %>
         <% if @post.favorited_by?(current_user) %>
          <p>
           <%= link_to post_favorite_path(post), method: :delete do %>
            <i class="fa-solid fa-heart" style="color: red;"></i><%= post.favorites.count %>
           <% end %>
          </p>
         <% else %>
          <p>
           <%= link_to post_favorite_path(post), method: :post do %>
            <i class="fa-regular fa-heart"></i><%= post.favorites.count %>
           <% end %>
          </p>
         <% end %>
        <% else %>
          <p>
           ブックマーク:
           <%= post.favorites.count %>件
          </p>
        <% end %>
        
        <p id= "star_<%= post.id %>"></p>
        
        <script>
         $(document).on('turbolinks:load', function() {
         let elem = document.querySelector('#star_<%= post.id %>');
         if (elem == null) return;
  
         elem.innerHTML = "";
         let opt = {  
         starOn: "<%= asset_path('star-on.png') %>",
         starOff: "<%= asset_path('star-off.png') %>",
         score: "<%= post.star %>",
         half: false,
         readOnly: true,
         };
         raty(elem, opt);
         });
        </script>
        
         <p>
          <i class="fa-solid fa-tag mr-1"></i>タグ:
          <%= link_to tagsearches_search_path(word: post.tag) do %>
           <%= post.tag %>
          <% end %>
         </p>

         <% if current_user.present? && current_user.id == post.user_id %>
          <div class= "row mt-2 mx-auto">
           <%= link_to edit_post_path(post), class: "btn btn-secondary mr-2" do %>
            <i class="fa-solid fa-gear mr-2"></i>編集
           <% end %>
           <%= link_to post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>
            <i class="fa-solid fa-xmark mr-2"></i>削除
           <% end %>
          </div>
          <div class= "row mt-2 mx-auto">
           <% if post.private == false %>
            <%= link_to post_private_path(post), method: :patch do %>
             <i class="fa-solid fa-lock mr-2"></i>非公開にする
            <% end %>
           <% else %>
            <%= link_to post_private_path(post), method: :patch do %>
             <i class="fa-solid fa-lock-open mr-2"></i>公開
            <% end %>
           <% end %>
          </div>
         <% elsif current_admin.present? %>
          <div class= "row mt-2 mx-auto">
           <%= link_to admin_post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>
            <i class="fa-solid fa-xmark mr-2"></i>削除
           <% end %>
          </div>
         <% end %>
           

        </div>
        
        <% if current_user.present? && post.user_id != current_user.id && !current_user.guest_user? %>
         <div class= "card h-50 w-75 mx-auto">
         <p class= "card-header bg-primary text-light"><i class="fa-solid fa-comment mr-2"></i>コメント投稿フォーム</p>
         <% if flash[:comment_alert].present? %>
          <div class= "alert alert-danger mt-2 mb-2 w-75 mx-auto" role= "alert">
           <%= flash[:comment_alert] %>
          </div>
         <% end %>
          <div class= "card-body">
           <%= form_with model: [post, post_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" ,class: "form-control" %>
            <%= f.submit "投稿する", class: "btn btn-primary mt-2" %>
           <% end %>
          </div>
         </div>
        <% end %>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 
  <div class= "col-sm-12 col-lg-6 mt-4">
   <% unless post.post_comments.count == 0 %>
    <h3><i class="fa-solid fa-comments mr-2"></i>コメント一覧</h3>
    <table class = "table">
     <thead>
      <tr>
       <th class= "name w-25">ユーザ名</th>
       <th class= "comment">コメント</th>
       <th class= "created_at">投稿日時</th>
       <th class= "w-25"></th>
      </tr>
     </thead>
     <% post_comments.each do |post_comment| %>
     <tbody>
     <tr>
      <td class= "w-25"><%= post_comment.user.name %></td>
      <td><%= post_comment.comment %></td>
      <td><%= l post_comment.created_at %></td>
      <% if current_user.present? && post_comment.user == current_user %>
       <td class= "w-25">
        <%= link_to edit_post_post_comment_path(post_comment.post, post_comment), class: "btn btn-secondary mb-2" do %>
         <i class="fa-solid fa-gear mr-2"></i>編集
        <% end %>
        <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>
         <i class="fa-solid fa-xmark mr-2"></i>削除
        <% end %>
       </td>
      <% end %>
      <% if current_admin.present? %>
       <td>
        <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" do %>
         <i class="fa-solid fa-xmark mr-2"></i>削除
        <% end %>
       </td>
      <% end %>
     </tr>
     </tbody>
     <% end %>
   </table>
   <%= paginate post_comments %>
   <% else %>
    <div class= "card mb-4">
     <div class= "card-body">
      この投稿にはまだコメントがありません
     </div>
    </div>
   <% end %>
  </div>
 </div>
