<div class= "container mt-4 mb-4">
 <div class= "card mx-auto" style= "max-width: 540px;">
  <div class= "card-header text-bg-default">ユーザ編集</div>
   <div class= "card-body">
    <% if @user.errors.any?  %>
     <div class= "alert alert-danger" role= "alert">
      <%= @user.errors.count %>件のエラーが発生しました。
      <ul>
       <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
      </ul>
     </div>
    <% end %>

    <%= form_with model: @user do |f| %>
     <div class= "form-group mb-2">
      <label>ニックネーム</label>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
     </div>

     <div class= "form-group mb-2">
      <label>プロフィール画像</label>
      <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
     </div>
     
     <div class= "form-group mb-2">
      <label>一言</label>
      <%= f.text_area :introduction, class: "form-control" %>
     </div>
 
     <div class= "form-group mb-2">
      <%= f.submit "編集", class: "btn btn-secondary" %>
     </div>
 
     <div class= "form-group mb-2">
      <%= link_to users_confirm_path(@user), class: "btn btn-danger" do %>
       退会する
      <% end %>
     </div>
    <% end %>
   </div>
  </div>
 </div>
</div>