<h3>ユーザ一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th class= "image">プロフィール画像</th>
   <th class= "name">ユーザ名</th>
   <th class= "introduction">一言</th>
   <th class= "show">詳細</th>
   <th class= "current_user"></th>
　</tr>
 </thead>
 <% @users.each do |user| %>
  <tbody>
   <tr>
    <td>
     <%= image_tag user.get_profile_image(100,100) %>
    </td>
    <td>
     <%= user.name %>
    </td>
    <td>
     <%= user.introduction %>
    </td>
    <td>
     <%= link_to "詳細", user_path(user) %>
    </td>
    <% if user.id == current_user.id && current_user.email != "guest@example.com" %>
     <td>
      <%= link_to edit_user_path(user.id), class: "btn btn-secondary" do %>
       <i class="fa-solid fa-user-gear"></i> ユーザ編集
      <% end %>
      <%= link_to users_confirm_path(user.id), class: "btn btn-danger" do %>
       退会する
      <% end %>
     </td>
    <% end %>
   </tr>   
  </tbody>
 <% end %>
</table>