 <h1><%= @user.name %>さんの投稿一覧<h1>

<% @posts.each do |post| %>
 <div>
  <%= image_tag post.user.get_profile_image(100,100) %>
  <p>タイトル: <%= post.title %></p>
  <p>レビュー: <%= post.review_i18n %></p>
  <p>本文: <%= post.body %></p>
 </div>
<% end %>