<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <nav class="pagination d-flex justify-content-center" role="navigation" aria-label="Page navigation">
   <ul class= "pagination">
    <li class= "page-item ml-2"><%= first_page_tag unless current_page.first? %></li>
    <li class= "page-item ml-2"><%= prev_page_tag unless current_page.first? %></li>
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <li class= "page-item"><%= page_tag page %></li>
      <% elsif !page.was_truncated? -%>
        <li class= "page-item"><%= gap_tag %></li>
      <% end -%>
    <% end -%>
    <% unless current_page.out_of_range? %>
      <li class= "page-item ml-2"><%= next_page_tag unless current_page.last? %></li>
      <li class= "page-item ml-2"><%= last_page_tag unless current_page.last? %></li>
    <% end %>
   </ul>
  </nav>
<% end -%>
