<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <thead>
     <th class="name">ニックネーム</th>
     <th class="introduction">一言</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
           <%= link_to user_path(user) do %>
            <%= user.name %>
           <% end %>
          </td>
          <td><%= user.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "Item" %>
    <thead>
     <th class= "name">商品名</th>
     <th class= "genre">商品ジャンル</th>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= link_to item_path(item) do %>
             <%= item.name %>
            <% end %>
          </td>
          <td><%= item.genre.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% elsif @range == "DonationDestination" %>
    <thead>
     <th class= "name">寄付先</th>
     <th class= "location">寄付先都道府県</th>
    </thead>
    <tbody>
      <% @donation_destinations.each do |donation_destination| %>
       <tr>
        <td><%= donation_destination.name %></td>
        <td><%= donation_destination.location_i18n %></td>   
       </tr>
      <% end %>
    </tbody>
  <% else %>
  <% end %>
</table>