<div class= "container">
 <% if flash[:alert].present? %>
  <% flash.each do |key, value| %>
   <div class= "alert alert-danger mt-2 mb-2" role= "alert">
    <%= content_tag :div, value, class: "flash #{key}" %>
   </div>
  <% end %>
 <% else %>
  <% flash.each do |key, value| %>
   <div class= "alert alert-success mt-2 mb-2" role= "alert">
    <%= content_tag :div, value, class: "flash #{key}" %>
   </div>
  <% end %>
 <% end %>

 <div class= "row d-flex flex-row">
  <div class= "row mt-4 mb-2 ml-3">
   <h2><%= @user.name %>さん、ようこそ！</h2>
  </div>
 </div>
 
 <div class= "row mt-4">
   <div class= "col-sm-10 col-lg-4 mt-3 mx-auto">
    <h2>プロフィール</h2>
    <%= image_tag @user.get_profile_image(100, 100) %>
    <table class= "table">
     <thead>
      <tr>
       <th>ニックネーム</th>
       <th>一言</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td><%= @user.name %></td>
       <td><%= @user.introduction %></td>
      </tr>
     </tbody>
    </table>
    <% unless @user.email == "guest@example.com" %>
     <div class= "row mb-3">
      <div class= "col-6">
       <%= link_to edit_user_path(@user), class: "btn btn-secondary" do %>
        <i class="fa-solid fa-user-gear"></i> ユーザ編集
       <% end %>
      </div>
      <div class= "col-6">
       <%= link_to users_confirm_path(@user), class: "btn btn-danger" do %>
        退会する
       <% end %>
      </div>
     </div>
    <% end %>
    </div>
   <% if @user.email == "guest@example.com" %>
    <div class= "card mb-4 ml-5">
    <h3 class= "card-header">ご案内</h3>
     <div class= "card-body">
      <p>会員登録すると、あなたもレビューを投稿できるようになります！</p><br/>
      <p>ログアウト後、新規会員登録をよろしくお願いします。</p>
     </div>
    </div>
   <% else %>
    <%= render 'user', user: @user, posts: @posts %>
   <% end %>
   </div>
 </div>