<div class= "container">
 <%= render 'public/posts/flash' %>
 <div class= "row">
   <div class= "col-sm-12 col-lg-4 mt-3">
    <h2>プロフィール</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class= "table">
     <thead>
      <tr>
       <th>ニックネーム</th>
       <th>一言</th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <th><%= @user.name %></th>
       <th><%= @user.introduction %></th>
      </tr>
     </tbody>
    </table>
   </div>
   
   <%= render 'user', user: @user, posts: @posts %>
 </div>
</div>
