 <div class= "row d-flex flex-row">
  <%= render 'public/users/search' %>
  <div class= "card h-25 col-sm-11 col-lg-5 mt-4 ml-3 mb-4 mx-auto">
   <div class= "card-header">絞り込み</div>
    <div class= "card-body">
     <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
       <%= select_tag :search, options_for_select([["食品", 1],["化粧品", 2], ["キッチン用品", 3], ["インテリア", 4], ["日用雑貨", 5], ["ペット用品", 6]], params[:item_gernre_id]), class: 'form-control mt-2 mb-2', prompt: "商品のジャンルを選択してください" %>
       <%= submit_tag "絞り込み" %>
     <% end %>
    </div>
  </div>
 </div>

<% if items.count == 0 %>
 <div class= "row mt-2 mb-2 d-flex justify-content-center">
  <div class= "btn btn-secondary  d-flex justify-content-center">該当ジャンルの商品が見つかりません</div>
 </div>
<% else %>
<table class= "table ml-3">
 <thead>
  <tr>
   <th class= "name sm-col-2">商品名</th>
   <th class= "genre sm-col-2">商品ジャンル</th>
   <th class= "price sm-col-2">商品価格</th>
   <th class= "donation_destination_name sm-col-2">寄付先</th>
   <th class= "donation_destination_location sm-col-2">寄付先都道府県</th>
   <th class= "item_tag sm-col-2">タグ</th>
  </tr>
 </thead>
 <% items.each do |item| %>
 <tbody>
  <tr>
   <td>
    <%= link_to item_path(item) do %>
     <%= item.name %>
    <% end %>
   </td>
   <td>
    <%= item.genre.name %>
   </td>
   <td>
    <%= item.price %>円
   </td>
   <td>
    <%= item.donation_destination.name %>
   </td>
   <td>
    <%= item.donation_destination.location_i18n %>
   </td>
   <td>
    <% if item.tags.present? %>
     <%= link_to tagsearches_search_path(content: item.tags.first.content) do %>
      <%= item.tags.first.content %>
     <% end %>
    <% end %>
   </td>
  </tr>
 </tbody>
 <% end %>
</table>
<%= paginate items %>
<% end %>