 <div class= "row d-flex flex-row">
  <%= render 'public/users/search' %>
  <div class= "card h-25 col-sm-11 col-lg-5 mt-4 ml-3 mb-4 mx-auto">
   <div class= "card-header">絞り込み</div>
    <div class= "card-body">
     <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
       <%= select_tag :genre_search, options_for_select([["食品", 1],["化粧品", 2], ["キッチン用品", 3], ["インテリア", 4], ["日用雑貨", 5], ["ペット用品", 6],["~1000円"], ["1000~3000円"], ["3000~5000円"], ["5000~10000円"], ["10000円~"]], params[:search]), class: 'form-control mt-2 mb-2', prompt: "選択してください" %>
       <%= select_tag :order, options_for_select(["価格が安い商品から", "価格が高い商品から"], params[:order]), class: 'form-control mt-2 mb-2', prompt: "価格の並び替え" %>
       <%= submit_tag "絞り込み/並び替え" %>
     <% end %>
    </div>
  </div>
 </div>

<% if items.count == 0 %>
 <div class= "card-list-container py-5 mx-auto d-flex justify-content-center flex-wrap">
  <p>該当の商品がありませんでした</p>
 </div>
<% else %>
<table class= "table ml-3">
 <thead>
  <tr>
   <th class= "name sm-col-3">商品名</th>
   <th class= "genre sm-col-2">商品ジャンル</th>
   <th class= "price sm-col-2">商品価格</th>
   <th class= "donation_destination_name sm-col-3">寄付先</th>
   <th class= "donation_destination_location sm-col-2">寄付先都道府県</th>
  </tr>
 </thead>
 <% items.each do |item| %>
 <tbody>
  <tr>
   <td>
    <%= link_to item_path(item) do %>
     <%= item.name %>
    <% end %>
   </td>
   <td>
    <%= item.genre.name %>
   </td>
   <td>
    <%= item.price %>円
   </td>
   <td>
    <%= item.donation_destination.name %>
   </td>
   <td>
    <%= item.donation_destination.location_i18n %>
   </td>
  </tr>
 </tbody>
 <% end %>
</table>
<%= paginate items %>
<% end %>