 <div class= "row d-flex flex-row">
  <%= render 'public/users/search' %>
  <div class= "card h-25 col-sm-11 col-lg-5 mt-4 ml-3 mb-4 mx-auto">
   <div class= "card-header"><i class="fa-solid fa-filter mr-2"></i>絞り込み/<i class="fa-solid fa-sort ml-2 mr-2"></i>並び替え</div>
    <div class= "card-body">
     <%= form_tag({controller:"items",action:"index"}, method: :get) do %>
       <%= select_tag :search, options_for_select([["食品"], ["化粧品"], ["キッチン用品"], ["インテリア"], ["日用雑貨"], ["ペット用品"], ["~1000円"], ["1000~3000円"], ["3000~5000円"], ["5000~10000円"], ["10000円~"]], params[:search]), class: 'form-control mt-2 mb-2', prompt: "選択してください" %>
       <%= select_tag :order, options_for_select(["価格が安い商品から", "価格が高い商品から", "評価が低い商品から", "評価が高い商品から"], params[:order]), class: 'form-control mt-2 mb-2', prompt: "並び替え" %>
       <%= submit_tag "絞り込み/並び替え" %>
     <% end %>
    </div>
  </div>
 </div>

<% if items.count == 0 %>
 <div class= "card-list-container py-5 mx-auto d-flex justify-content-center flex-wrap">
  <p>該当の商品がありませんでした</p>
 </div>
<% else %>
<table class= "table ml-3">
 <thead>
  <tr>
   <th class= "name">商品名</th>
   <th class= "genre">商品ジャンル</th>
   <th class= "price">商品価格</th>
   <th class= "donation_destination_name">寄付先</th>
   <th class= "donation_destination_location">寄付先都道府県</th>
   <th class= "star_average">評価(平均値)</th>
   <th class= "review_count">レビュー数</th>
  </tr>
 </thead>
 <% items.each do |item| %>
 <tbody>
  <tr>
   <td>
    <%= link_to item_path(item) do %>
     <%= item.name %>
    <% end %>
   </td>
   <td>
    <%= item.genre.name %>
   </td>
   <td>
    <%= item.price %>円
   </td>
   <td>
    <%= item.donation_destination.name %>
   </td>
   <td>
    <%= item.donation_destination.location_i18n %>
   </td>
   <td>
    <% unless item.posts.count == 0 %>
     <div id="star_<%= item.id %>"></div>

     <script>
      $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#star_<%= item.id %>');
      if(elem == null) return;

      elem.innerHTML = ""
      let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: <%= item.posts.pluck(:star).sum/item.posts.count.to_f.round(1) %>,
      readOnly: true,
      };
      raty(elem, opt);
     });
     </script>
     
    <% else %>
    レビューがありません
    <% end %>
   </td>
   <% if item.posts.present? %>
    <td>
     <%= item.posts.pluck(:star).sum/item.posts.count.to_f.round(1) %>
     (<%= item.posts.count %>)
    </td>
   <% else %>
   <% end %>
  </tr>
 </tbody>
 <% end %>
</table>
<%= paginate items %>
<% end %>