<h2>商品一覧</h2>
<table class= "table">
 <thead>
  <tr>
   <th class= "name">商品名</th>
   <th class= "genre">商品ジャンル</th>
   <th class= "donation_destination_name">寄付先</th>
   <th class= "donation_destination_location">寄付先都道府県</th>
  </tr>
 </thead>
 <% @items.each do |item| %>
 <tbody>
  <tr>
   <td>
    <%= link_to item_path(item) do %>
     <%= item.name %>
    <% end %>
   </td>
   <td>
    <%= item.genre.name %>
   </td>
   <td>
    <%= item.donation_destination.name %>
   </td>
   <td>
    <%= item.donation_destination.location_i18n %>
   </td>
  </tr>
 </tbody>
 <% end %>   
</table>