<!DOCTYPE html>
<html>
  <head>
    <title>Nekonigohan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/7b0c0b1a1d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class= "navbar navbar-dark bg-dark">
    <div class= "container">
     <a class= "navbar-brand" href= "/"><span>ねこにごはん ～猫を助ける商品、集めました。～</span></a>
     <button class= "navbar-toggler collapsed" type= "button" data-toggle= "collapse" data-target= "#navbarNavDropdown" aria-controls= "navbarDropdown" aria-expanded= "false" aria-label= "Toggle navigation">
      <span class= "navbar-toggler-icon"></span>
     </button>
     <div class= "navbar-collapse collapse" id= "navbarNavDropdown" style= "">
      <ul class= "navbar-nav ml-auto">
       <% if user_signed_in? %>
        <li>
         <%= link_to root_path, class: 'nav-link text-light' do %>
          <i class= "fa-solid fa-house"></i> Home
         <% end %>
        </li>
        <li>
         <%= link_to mypage_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-user"></i> マイページ
         <% end %> 
        </li>
        <li>
         <% unless current_user.email == "guest@example.com" %> 
          <%= link_to new_post_path, class: 'nav-link text-light' do %>
           <i class="fa-regular fa-square-plus"></i> 新規投稿
          <% end %>
         <% end %>
        </li>
        <li>
         <%= link_to posts_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-clipboard-list"></i> 投稿一覧
         <% end %>
        </li>
        <li>
         <%= link_to items_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-gifts"></i> 商品一覧
         <% end %>
        </li>
        <li>
         <%= link_to users_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-users"></i> ユーザ一覧
         <% end %> 
        </li>
        <li>
         <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-right-from-bracket"></i> ログアウト
         <% end %>
        </li>
       <% else %>
        <li>
         <%= link_to root_path, class: 'nav-link text-light' do %>
          <i class= "fa-solid fa-house"></i> Home
         <% end %>
        </li>
        <li>
         <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-user-plus"></i> 新規登録
         <% end %>
        </li>
        <li>
         <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-right-to-bracket"></i> ログイン
         <% end %>
     　　</li>
       <% end %>
      </ul>
     </div>
     <%= render 'partial/search' %>
    </div>
    </nav>
   </header>
   <main>
    <%= yield %>
   </main>
   <footer class= "bg-primary text-white ">
    <div class= "container">
     <div class= "row">
      
      <div class= "col-4">
       <%= image_tag "kurumi.jpg", size: '300x250' %>
      </div>
      
      <div class= "col-4 ml-3">
       <div class= "row mt-4">
        <h3>あなたが素敵な商品と出会えますように</h3>
       </div>
       <div class= "row mt-4 p-3">
        <div class= "row mx-auto">
         <h4>サイト運営のSNSはこちら</h4>
        </div>
        <div class= "row mx-auto">
         <i class="fa-brands fa-square-x-twitter mr-4" style= "font-size: 3rem;"></i>
         <i class="fa-brands fa-facebook mr-4" style= "font-size: 3rem;"></i>
         <i class="fa-brands fa-square-instagram" style= "font-size: 3rem;"></i>
        </div>
       </div>
      </div>
      
      <div class= "col-3 text-right">
       <div class= "row mt-5">
        <ul class= "list-unstyled">
         <li>
          利用規約
         </li>
         <li>
          プライバシーポリシー
         </li>
        </ul>
       </div>
      </div>
   </footer>
  </body>
</html>
