<!DOCTYPE html>
<html>
  <head>
    <title>Nekonigohan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/7b0c0b1a1d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <nav class= "navbar navbar-dark bg-dark">
    <div class= "container">
     <a class= "navbar-brand" href= "/"><span>ねこにごはん ～猫を助ける商品、集めました。～</span></a>
      <li class= "dropdown">
       <button class= "btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        通知
        <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
       </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <% if current_user.notifications.where(read: false).any? %>
          <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
          <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
           <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
          <% end %>
         <% else %>
          <span class="dropdown-item disabled">未読の通知はありません</span>
         <% end %>
        </div>
       </li>
      <button class= "navbar-toggler collapsed" type= "button" data-toggle= "collapse" data-target= "#navbarNavDropdown" aria-controls= "navbarDropdown" aria-expanded= "false" aria-label= "Toggle navigation">
       <span class= "text-light"><i class="fa-solid fa-bars mr-2"></i>メニュー</span>
      </button>
      <div class= "navbar-collapse collapse" id= "navbarNavDropdown" style= "">
       <ul class= "navbar-nav w-50">
        <% if user_signed_in? %>
        <li>
         <%= link_to root_path, class: 'nav-link text-light' do %>
          <i class= "fa-solid fa-house"></i> Home
         <% end %>
        </li>
        <li>
         <%= link_to mypage_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-user"></i> マイページ
         <% end %> 
        </li>
        <li>
         <% unless current_user.email == "guest@example.com" %> 
          <%= link_to new_post_path, class: 'nav-link text-light' do %>
           <i class="fa-regular fa-square-plus"></i> 新規投稿
          <% end %>
         <% end %>
        </li>
        <li>
         <%= link_to posts_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-clipboard-list"></i> 投稿一覧
         <% end %>
        </li>
        <li>
         <%= link_to items_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-gifts"></i> 商品一覧
         <% end %>
        </li>
        <li>
         <%= link_to users_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-users"></i> ユーザ一覧
         <% end %> 
        </li>
        <li>
         <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-right-from-bracket"></i> ログアウト
         <% end %>
        </li>
       <% else %>
        <li>
         <%= link_to root_path, class: 'nav-link text-light' do %>
          <i class= "fa-solid fa-house"></i> Home
         <% end %>
        </li>
        <li>
         <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-user-plus"></i> 新規登録
         <% end %>
        </li>
        <li>
         <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
          <i class="fa-solid fa-right-to-bracket"></i> ログイン
         <% end %>
     　　</li>
       <% end %>
      </ul>
     </div>
    </div>
    </nav>
   </header>
   <main>
    <%= yield %>
   </main>
   <footer class= "bg-dark text-white ">
    <div class= "container">
     <div class= "row d-flex flex-row">

      <div class= "col-sm-12 col-md-5  ml-3">
       <div class= "row mt-4 d-flex align-items-center justify-content-center">
        <h3>あなたが素敵な商品と</br>出会えますように</h3>
       </div>
      </div>
      <div class= "col-sm-12 col-md-5">
       <div class= "row mt-4 d-flex align-items-center justify-content-center">
        <h4>サイト運営のSNSはこちら</h4>
       </div>
       <div class= "row d-flex align-items-center justify-content-center">
        <i class="fa-brands fa-square-x-twitter mr-4" style= "font-size: 3rem;"></i>
        <i class="fa-brands fa-facebook mr-4" style= "font-size: 3rem;"></i>
        <i class="fa-brands fa-square-instagram" style= "font-size: 3rem;"></i>
       </div>
      </div>
      
      <div class= "col-sm-12 text-right d-flex justify-content-end align-items-end">
       <div class= "row">
        <ul class= "list-unstyled">
         <li>
          利用規約
         </li>
         <li>
          プライバシーポリシー
         </li>
        </ul>
       </div>
      </div>
   </footer>
  </body>
</html>
